<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="AboutUsPage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div id="page">

        <div id="aboutUs">
            <h1>About Us</h1>
            <p>Welcome to TranquilQuest, a dedicated platform comitted to supporting the mental health and well-being of students. At BrightMinds, we understand that the journey of education can be both exciting and challenging, and we are here to help you navigate it with resilience and strength.
            </p>
        </div>
    

        <div id="Mission">
          <h2>Our Mission</h2>
          <p>
            Our mission is to provide students with the resources, guidance and support they need to prioritize and maintain their well-being. By fostering a supportive community and offering valuable insights, we aim to empower students to thrive.
          </p>
      </div>


        <div class="container1">
    
            <div class="box1">
                <h3>Student-Centric</h3>
                <p>
                  We understand the unique challenges students face today. Our content and resources are tailoerd to address the specific mental health concerns of students. We aim to equip you with the skills to take charge of your mental health.
                </p>
            </div>
  
            <div class="box1">
              <h3>Resources</h3>
              <p>We provide a well-researched questionnare, approved by classified veterans to help you better understand mental health. We also guide you, using the live chat feature, to manage and improve your mental health. </p>
          </div>
  


            <div class="box1">
                <h3>Holistic Approach</h3>
                <p>
                  We recognize that mental health is interwined with physical health, relationships, and personal developmen. Our approach is holistic, addressing all aspects of well being as it is the fundamental to success in life.
                </p>
            </div>
    
        </div>


          <h4><br>We invite you to explore and engage with our content and become an active part of our community.<br></h4>

        <div class="JoinUs">
            Join us on the following social media platforms by clicking on their respective logos
        </div>
        
        <div id="logos">
            <ul>
                <li style="padding-right: 20px; color: rgb(189, 11, 180); cursor: pointer;"><h3><i class='bx bxl-instagram-alt'></h3></i></li>
                <li style="padding-right: 20px; color: white; cursor: pointer;" ><h3><i class='bx bxl-twitter' ></h3></i></li>
                <li style="padding-right: 20px; color: rgb(192, 3, 3); cursor: pointer;"><h3><i class='bx bxl-youtube'></h3></i></li>
                <li style="color: rgb(43, 105, 187); cursor: pointer;"><h3><i class='bx bxl-telegram'></h3></i></li>
            </ul>
        </div> 
          

    </div>

</body>
</html>